<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M [line:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_FILE" value="../logs/application.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- weekly rollover -->
            <fileNamePattern>${LOG_FILE}-%d{yyyy-ww}.gz</fileNamePattern>
            <!-- keep 4 weeks worth of history capped at 2GB total size -->
            <maxHistory>4</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %thread [%X{correlationId}] %-5level %logger{36}.%M %L %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
